In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('techtable_ml.csv')

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
#Separating into categorical and numerical missing Columns
cat_missing=['Gender','Married','Dependents','Self_Employed']
num_missing=['LoanAmount','Loan_Amount_Term','Credit_History']

In [7]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
df[cat_missing]=imputer.fit_transform(df[cat_missing])

In [8]:
imputer=SimpleImputer(strategy='mean')
df[num_missing]=imputer.fit_transform(df[num_missing])

In [9]:
#So missing values are replaced with the respective Strategy
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
#Removing The Load ID
df=df.drop('Loan_ID',axis=1)

In [11]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [12]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    object
 1   Married            614 non-null    object
 2   Dependents         614 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      614 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [14]:
#Separating the Predicter Variables and Target Variables
Y=df['Loan_Status']
X=df.drop('Loan_Status',axis=1)

Preproceesing steps for Encodind the categorical Variables

In [15]:
cat_columns=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [16]:
X_cat=pd.get_dummies(X[cat_columns])

In [17]:
X=X.drop(cat_columns,axis=1)

In [18]:
X=pd.concat([X,X_cat],axis=1)

In [19]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,360.0,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

In [20]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
Y=encoder.fit_transform(Y)

TO Do Feature Selection using L1 Regularisation

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectFromModel
import random
reg=LogisticRegression(C=1,penalty="l1", solver='liblinear', random_state=random.randint(0,100))
reg.fit(X,Y)
model=SelectFromModel(reg,prefit=True)
X_new=model.transform(X)

In [24]:
selected_features = pd.DataFrame(model.inverse_transform(X_new), 
                                 index=X.index,
                                 columns=X.columns)
selected_columns = selected_features.columns[selected_features.var() != 0]

In [25]:
x_1=pd.DataFrame()
for i in selected_columns:
    x_1=pd.concat([x_1,X[i]],axis=1)

In [27]:
#Splitting into Train and Test Sets
from sklearn.model_selection import train_test_split
import random
x_train,x_test,y_train,y_test=train_test_split(x_1,Y,test_size=0.2,random_state=random.randint(0,100))

Now the Data is ready to be fit into the CLassification Model

K Nearest Neighbor Algorithm

In [28]:
from sklearn.neighbors import KNeighborsClassifier
neighbour=KNeighborsClassifier(n_neighbors=11,algorithm='auto',metric='minkowski',p=2)

In [29]:
neighbour.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [30]:
y_pred=neighbour.predict(x_test)

In [31]:
neighbour.score(x_test,y_test)

0.6747967479674797

In [32]:
from sklearn.metrics import accuracy_score,classification_report
print("Accuracy: ",accuracy_score(y_test,y_pred)*100,"%")

Accuracy:  67.47967479674797 %

In [33]:
target_names=['{}'.format(i) for i in encoder.classes_]
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

           N       0.36      0.14      0.20        36
           Y       0.72      0.90      0.80        87

    accuracy                           0.67       123
   macro avg       0.54      0.52      0.50       123
weighted avg       0.61      0.67      0.62       123

Support Vector Machines

In [34]:
from sklearn.svm import SVC
sv=SVC(kernel='rbf',random_state=0)

In [35]:
sv.fit(x_train,y_train)
sv.score(x_test,y_test)

0.7073170731707317

In [36]:
y_pred=sv.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score,classification_report
print("Accuracy: ",accuracy_score(y_test,y_pred)*100,"%")

Accuracy:  70.73170731707317 %

In [38]:
target_names=['{}'.format(i) for i in encoder.classes_]
print(classification_report(y_test,y_pred,target_names=target_names,zero_division='warn'))

              precision    recall  f1-score   support

           N       0.00      0.00      0.00        36
           Y       0.71      1.00      0.83        87

    accuracy                           0.71       123
   macro avg       0.35      0.50      0.41       123
weighted avg       0.50      0.71      0.59       123

D:\Anaconda_New\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Random Forest Classification

In [39]:
from sklearn.ensemble import RandomForestClassifier
tree=RandomForestClassifier(n_estimators=70,criterion='entropy',random_state=random.randint(0,100))

In [40]:
tree.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=70,
                       n_jobs=None, oob_score=False, random_state=79, verbose=0,
                       warm_start=False)

In [41]:
y_pred=tree.predict(x_test)

In [42]:
tree.score(x_test,y_test)

0.7398373983739838

In [43]:
from sklearn.metrics import accuracy_score,classification_report
print("Accuracy: ",accuracy_score(y_test,y_pred)*100,"%")

Accuracy:  73.98373983739837 %

In [44]:
target_names=['{}'.format(i) for i in encoder.classes_]
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

           N       0.58      0.42      0.48        36
           Y       0.78      0.87      0.83        87

    accuracy                           0.74       123
   macro avg       0.68      0.65      0.65       123
weighted avg       0.72      0.74      0.73       123

Logistic Regression

In [45]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression(random_state=random.randint(0,100),verbose=random.randint(0,100))

In [46]:
reg.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=14, solver='lbfgs', tol=0.0001, verbose=64,
                   warm_start=False)

In [47]:
reg.score(x_test,y_test)

0.8048780487804879

In [48]:
y_pred=reg.predict(x_test)

In [49]:
from sklearn.metrics import accuracy_score,classification_report
print("Accuracy: ",accuracy_score(y_test,y_pred)*100,"%")

Accuracy:  80.48780487804879 %

In [50]:
target_names=['{}'.format(i) for i in encoder.classes_]
print(classification_report(y_test,y_pred,target_names=target_names))

              precision    recall  f1-score   support

           N       0.93      0.36      0.52        36
           Y       0.79      0.99      0.88        87

    accuracy                           0.80       123
   macro avg       0.86      0.67      0.70       123
weighted avg       0.83      0.80      0.77       123